body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../bg-img.png");
  background-size: 200px;
  background-repeat: repeat;
  background-position: center;
  opacity: 0.15;
  z-index: -1;
  pointer-events: none;
}

body::-webkit-scrollbar {
  display: none;
}
